<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vacancy</title>
</head>
<body>
    <h1>Add Vacancy</h1>
    <form method="POST" action="{{ url_for('vacancyAndResume.add_vacancy') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title(size=50) }}
        <br>
        {{ form.text.label }} {{ form.text(size=50) }}
        <br>
        {{ form.title_image.label }} {{ form.title_image() }}
        <br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('vacancyAndResume.vacancies') }}">Back to Vacancies</a>
</body>
</html>
