<!-- base.html -->

<!DOCTYPE html>
<html lang="">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="main_page_plate">
        <div class="logo">Work-Searcher</div>
        <ul>
            <li><a href="/">Домой</a></li>
            {% if not current_user.is_authenticated %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/register">Регистрация</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Выйти</a></li>

                {% if current_user.employer_status %} {# Проверка, что пользователь является работодателем #}
                    <li><a href="/jobs">Вакансии</a></li>
                {% endif %}

                {% if current_user.employer_status == False %} {# Проверка, что пользователь не работодатель #}
                    <li><a href="/resumes">Резюме</a></li>
                {% endif %}

            {% endif %}
        </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- здесь можно разместить нижнюю часть шаблона, которая будет общей для всех страниц -->
    </footer>
</body>
</html>
