{% extends 'base.html' %}

{% block content %}
    <style>
            .lil {
                background: #bb6868;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 30px;
                padding-left: 30px;
                border-radius: 15px;
                border: medium solid #9e3a3a;
            }
    </style>

    <h2>Создание новой вакансии</h2>
    <form method="post" action="{{ url_for('job.create_job') }}" enctype="multipart/form-data">
        <label for="title">Название:</label>
        <input type="text" name="title" required><br>

        <label for="description">Описание:</label>
        <textarea name="description" required></textarea><br>

        <label for="requirements">Требования:</label>
        <textarea name="requirements" required></textarea><br>

        <!-- Добавляем поле для загрузки файла -->
        <label for="image_file">Изображение вакансии:</label>
        <input type="file" name="image_file" id="image_file" accept="image/*"><br>

        <button type="submit" class="lil">Создать вакансию</button>
    </form>
{% endblock %}
