{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <div class = "dashboard">
        <h3>Добро пожаловать, {{ current_user.firstname }} {{ current_user.lastname }}!</h3>
        <p>Ваш email: {{ current_user.email }}</p>
        <p>Ваш номер телефона: {{ current_user.phone_number }}</p>
        <p>Ваш регион: {{ current_user.region.region }}</p>

    {% if current_user.is_admin %}
        <!-- Здесь может быть ваш код для панели админа -->
        <p>Вы администратор</p>
    {% elif current_user.employer_status %}
        <!-- Здесь может быть ваш код для панели работодателя -->
        <p>Вы работодатель</p>
    {% else %}
        <!-- Здесь может быть ваш код для панели работника -->
        <p>Вы работник</p>
    {% endif %}
    </div>
{% endblock %}