{% extends "base.html" %}

{% block title %}Подробная информация о резюме{% endblock %}

{% block content %}
    <div class = "dashboard">
    <h4>Подробная информация о резюме</h4>

    <p><strong>Заголовок:</strong> {{ resume.title }}</p>
    <p><strong>Описание:</strong> {{ resume.description }}</p>
    <p><strong>Навыки:</strong> {{ resume.skills }}</p>
    <p><strong>Статус:</strong> {% if resume.status %}Одобрено{% else %}Неодобрено{% endif %}</p>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <form method="post" action="{{ url_for('resume.admin_approve_resume', resume_id=resume.id) }}">
            <button type="submit" name="approve" value="true" class = "microbutton">Одобрить</button>
        </form>
        <form method="post" action="{{ url_for('resume.admin_approve_resume', resume_id=resume.id) }}">
            <button type="submit" name="approve" value="false" class = "microbutton">Отклонить</button>
        </form>
    {% endif %}

    {% if is_employer %}
        <h4>Данные пользователя</h4>
        <p>Имя: {{ resume.user.firstname }}</p>
        <p>Фамилия: {{ resume.user.lastname }}</p>
        <p>Email: {{ resume.user.email }}</p>
        <p>Телефон: {{ resume.user.phone_number }}</p>
        <p>Место работы: {{ resume.user.workplace }}</p>
        <p>Должность: {{ resume.user.post }}</p>
        {# Добавьте другие данные пользователя, которые вам необходимы #}
    {% endif %}

    {% if not current_user.employer_status or current_user.is_admin %}
        <a href="{{ url_for('CZN.resumes') }}">Вернуться к списку резюме</a>
    {% else %}
        <a href="{{ url_for('CZN.jobs') }}">Вернуться к списку вакансий</a>
    {% endif %}
    </div>
{% endblock %}