{% extends "base.html" %}

{% block title %}Редактирование вакансии - {{ job.title }}{% endblock %}

{% block content %}
    <h1>Редактирование вакансии - {{ job.title }}</h1>

    <form method="post" action="{{ url_for('job.edit_job', job_id=job.id) }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" value="{{ job.title }}" required>
        </div>

        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea name="description" required>{{ job.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="requirements">Требования:</label>
            <textarea name="requirements" required>{{ job.requirements }}</textarea>
        </div>

        <!-- Добавлено поле для загрузки изображения -->
        <div class="form-group">
            <label for="image_file">Изображение:</label>
            <input type="file" name="image_file" id="image_file">
            {% if job.image_filename %}
                <img src="{{ url_for('static', filename='img/job_uploads/' + job.image_filename) }}" alt="{{ job.title }} Изображение" style="max-width: 100%; height: auto;">
            {% endif %}
        </div>

        <button type="submit" class="for_other_buttons">Сохранить изменения</button>
    </form>

    <a href="{{ url_for('CZN.jobs') }}" class="btn btn-secondary">Отмена</a>
{% endblock %}
