{% extends "base.html" %}

{% block title %}Главное меню{% endblock %}

{% block content %}
    <h1>Вакансии</h1>

    {% if current_user.is_authenticated %}
        {% if current_user.employer_status %}
            <a href="{{ url_for('job.create_job') }}">Create a Job</a>
        {% endif %}
        {% if current_user.is_admin %}
            <form method="GET" action="{{ url_for('CZN.jobs') }}">
                <select name="status">
                    <option value="all">Все вакансии</option>
                    <option value="pending">В рассмотрении</option>
                    <option value="approved">Одобрены</option>
                    <option value="rejected">Не одобрены</option>
                </select>
                <select name="region">
                    <option value="all">Все регионы</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.region }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Фильтровать">
            </form>
        {% endif %}
    {% else %}
        <form method="GET" action="{{ url_for('CZN.jobs') }}">
            <select name="region">
                <option value="all">Все регионы</option>
                {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.region }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Фильтровать">
        </form>
    {% endif %}

    {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li class="job">
                    <div class="job-container">
                        <h2 class="float-left">Специальность: {{ job.title }}</h2>
                        <h2 class="float-left"> Требования: {{ job.requirements }}</h2>

                        {% if job.image_filename %}
                            <img src="{{ url_for('static', filename='img/job_uploads/' + job.image_filename) }}" alt="{{ job.title }} Image">
                        {% endif %}
                       <p>Статус: {% if job.status==None %}В рассмотрении{% elif job.status %}Одобрена{% else %}Неодобрена{% endif %}</p>

                        <a href="{{ url_for('job.show_job', job_id=job.id) }}">Подробнее</a>

                        {% if current_user.is_authenticated and job.user_id == current_user.id %}
                            <a href="{{ url_for('job.edit_job', job_id=job.id) }}">Редактировать</a>
                            <a href="{{ url_for('job.delete_job', job_id=job.id) }}">Удалить</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No jobs available for the selected region.</p>
    {% endif %}
{% endblock %}
