{% extends 'base.html' %}

{% block title %}Select Region{% endblock %}

{% block content %}
   <div class="form-container">
            <form method="POST" action="{{ url_for('forum.jobs') }}">
                {{ form.hidden_tag() }}
                    <label for="{{ form.region.id }}">Выберите регион:</label>
                    {{ form.region(class="for_region_selection") }} {# Добавляем класс form-control для стилизации #}
                <div class="form-group">
                    {{ form.submit }}
                </div>
            </form>
        </div>
{% endblock %}