<!-- resumes.html -->

{% extends "base.html" %}

{% block title %}Главное меню{% endblock %}

{% block content %}
    <h1>Список резюме</h1>

    <a href="{{ url_for('resume.create_resume') }}">Создать новое резюме</a>
    <p></p>

    {% for resume in resumes %}
        <div class="resume-box">
            <h2>{{ resume.title }}</h2>
            <p>{{ resume.skills }}</p>

            <!-- Отображение изображения, если оно есть -->
            {% if resume.image_filename %}
                <img src="{{ url_for('static', filename='img/resume_uploads/' + resume.image_filename) }}" alt="{{ resume.title }} Image" class="resume-image">
            {% endif %}

            <a href="{{ url_for('resume.detail_resume', resume_id=resume.id) }}">Подробнее</a>
            <a href="{{ url_for('resume.edit_resume', resume_id=resume.id) }}">Редактировать</a>
            <a href="{{ url_for('resume.delete_resume', resume_id=resume.id) }}">Удалить</a>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
