{% extends "base.html" %}

{% block title %}Главное меню{% endblock %}

{% block content %}
    <h1>Тут будут вакансии!</h1>

    <ul>
        {% for vacancy in vacancies %}
            <li>{{ vacancy.title }} | <a href="{{ url_for('vacancyAndResume.edit_vacancy', vacancy_id=vacancy.id) }}">Edit</a> | <a href="{{ url_for('vacancyAndResume.delete_vacancy', vacancy_id=vacancy.id) }}">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('vacancyAndResume.add_vacancy') }}">Add Vacancy</a>
</a>

{% endblock %}